body {

  padding-top: 80px;
}
.width-holder {
  max-width: 1400px;
  margin: auto;
}

.top-nav {
  position: fixed;
  box-shadow: 5px 5px 10px #ccc;
  top:0;
  lefT:0;
  right: 0;
  height: 70px;
  padding: 5px 20px;
}
.top-nav >div {
  height: 100%;
}
.top-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: stretch;
  height: 100%;
}

.top-nav ul li {
  margin-right: 20px;
  height: 100%;

}
.top-nav ul li a{
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 25px;
  background-color: #fafafa;
  text-decoration: none;
  font-size: 18px;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.top-nav ul li a.active {
  background-color: #7d9fef;
  color:#fff;
}
.top-nav ul li a:hover {
  background-color: #c7d5f6;
}

.page-head {
  padding: 30px 20px;
  text-align: left;
  margin-bottom: 50px;
  background-color: #fafafa;
}

.page-head h1 {
  max-width: 1400px;
  margin: 40px  auto;
}

h1 {
  font-size: 40px;
  font-weight: 600;
}

.two-cols-l {
  display: flex;
}
.two-cols-l > div {
  width: 100%;
}
.two-cols-l aside {
  width: 30%;
  background-color: #ebebeb;
}

